.block {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  &:nth-child(odd) {
    background-color: #FFFFFF22;
  }
  &:nth-child(3n) {
    border-right: none;
  }
  &:nth-last-child(-n+3) {
    border-bottom: none;
  }
  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    border-right: 1px solid #FFFFFF66;
    border-bottom: 1px solid #FFFFFF66;
    &:nth-child(3n) {
      border-right: none;
    }
    &:nth-last-child(-n+3) {
      border-bottom: none;
    }
    &:hover {
      background-color: #FFF;
      color: #000;
    }
  }
}